@import './base.css';

#app {
  border:1px solid rgba(36, 35, 35, 0.801);
  max-width: 1280px;
  height:95vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  place-items:center;
  box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.5);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


